body {
  background-image: url('beach.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.navMenu {
  background-color: #519eaf;
  color: floralwhite;
  font-family: 'Nobile', sans-serif;
  font-size: 20px;
}

.palmTree {
  width: 30px;
  height: 25px;
}

.menuOption {
  cursor: pointer;
}

.weatherNphotos {
  margin-top: 30px;
}

.weatherApp {
  font-family: 'Nobile', sans-serif;
  background-color: #539faf30;
  color: floralwhite;
}

.locationPhotos {
  color: floralwhite;
  font-family: 'Nobile', sans-serif;
}

.btnCollection {
  font-family: 'Nobile', sans-serif;
  color: floralwhite;
  border: 0px;
  background-color: #469aac;
}

.btnCollection:hover {
  background-color: floralwhite;
  color: #519eaf;
}

.carouselImgs {
  border-radius: 10px;
  width: 250px;
}